{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":7,"column":0},"end":{"row":7,"column":16},"action":"remove","lines":["Werkzeug==0.14.1"],"id":1},{"start":{"row":7,"column":0},"end":{"row":7,"column":16},"action":"insert","lines":["werkzeug>=0.15.3"]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":8,"column":0},"end":{"row":8,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1577429723895,"hash":"003a144b1b41e19ee41f7c57d4c2e5571f067866"}