{% extends 'base.html'%} {% block content %}

<h1>Add Book</h1>

<div class="container">
<form action="{{ url_for('insert_book')}}" method="POST" class="book_form">
    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">subject</i>
            <input id="title" name="title" type="text" required>
            <label for="title"><span>* </span>Add Title</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">subject</i>
            <input id="author" name="authors" type="text" required>
            <label for="author"><span>* </span>Add Author</label>
        </div>
    </div>

    <div class="row">
        <label><span>* </span>Rating</label>
        <p>
            <input class="with-gap" name="rating" type="radio" id="one" value="1" required/>
            <label for="one">1 Star</label>
        </p>

        <p>
            <input class="with-gap" name="rating" type="radio" id="two" value="2" />
            <label for="two">2 Stars</label>
        </p>

        <p>
            <input class="with-gap" name="rating" type="radio" id="three" value="3" />
            <label for="three">3 Stars</label>
        </p>

        <p>
            <input class="with-gap" name="rating" type="radio" id="four" value="4" />
            <label for="four">4 Stars</label>
        </p>

        <p>
            <input class="with-gap" name="rating" type="radio" id="5" value="5" />
            <label for="5">5 Stars</label>
        </p>
    </div>

    <div class="row">
        <div class="input-field col s12 m6">
            <select id="language" name="language_code" required>
          <option value="" disabled selected>Choose language</option>
              <option value="eng">eng</option>
              <option value="en-US">en-US</option>
        </select>
            <label><span>* </span>language Select</label>
        </div>
    </div>

<div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">subject</i>
            <input id="num_pages" name="num_pages" type="text" required>
            <label for="num_pages"><span>* </span>Add Number Of Pages</label>
        </div>
    </div>

<div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">subject</i>
            <input id="isbn13" name="isbn13" type="number" required>
            <label for="isbn13"><span>* </span>Add ISBN if available</label>
        </div>
    </div>

    <div class="row">
      <button class="btn waves-effect waves-light" type="submit" name="action">Add Book
        <i class="material-icons right">playlist_add</i>
      </button>
      <a href="{{url_for('get_books')}}" class="btn"><i class="material-icons right">cancel</i>Cancel</a>
    </div>
    
</form>
</div>
{% endblock %}

