
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <title>Document</title>
</head>
<body>
    {% extends 'base.html'%} 
    {% block content %}

    {% for books in books %}
    {{ books.isbn }}
    {{ books.title }}
    {{ books.author }}
    {{ books.ratings_count}}
    {% endfor %}

    {% endblock %}

<script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>