{% extends 'base.html'%} {% block content %}

<h1>Books Collection</h1>
<div class="row">
    {% for book in books %}
    <div class="container">
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator cslewis" src="/static/images/Generic-bookcover.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">
                        <p><strong>Title:</strong> {{book.title|title}}</p>
                        <p><strong>Author:</strong> {{book.authors|title}}</p>
                             <div class="card-action">
                        <i class="material-icons right">more_vert</i></span>
                    <p><a href="{{url_for('edit_book', book_id=book._id)}}">Edit</a></p>
                    <p><a href="{{url_for('delete_book', book_id=book._id)}}" class="red-text">Delete</a></p>
                </div>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                <p><strong>Stars:</strong> {{book.rating}}</p>
                <p><strong>Language:</strong> {{book.language_code|upper}}</p>
                <p><strong>No. of Pages:</strong> {{book.num_pages}}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}

