{% extends 'base.html'%} {% block content %}

<div class="container-fluid welcome">
  <div class="row">
    <div class="welcome-box">
      <div class="welcome-search">
        <div class="row">
          <h1>Welcome to</br> Jimbo's Goodreads</h1>
        </div>
        <div class="row">
          <form class="welcome-form" action="{{ url_for('search_books') }}">
            <div class="row">
              <div class="input-field col s12">
                <input id="search" name="query" type="text" class="white-text validate s-input">
                <label class="white-text" for="search">Search by Title or Author</label>
                <div class="search-button">
                  <button class="btn waves-effect waves-light orange darken-4" type="submit" name="action">Search</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="book-suggestion-box">
      <div class="book-suggestions">
        <div class="row">
          <h4>Jimbo's Favourites</h4>
        </div>
        <div class="book-suggestion">
          <div class="row">
            <div class="col s12 m6 l3 first-book">
              <img src="/static/images/lost connections.jpg"></img>
              <div class="book-description">
                <p>Book Sypnosis</p>
                <p>Award-winning journalist Johann Hari suffered from depression since he was a child and started taking antidepressants when he was a teenager. He was told—like his entire generation—that his problem was caused by a chemical imbalance in
                  his brain. As an adult, trained in the social sciences, he began to investigate this question—and he learned that almost everything we have been told about depression and anxiety is wrong.</p>
              </div>
            </div>

            <div class="col s12 m6 l3">
              <img src="/static/images/caseforchrist.jpg"></img>
              <div class="book-description">
                <p>Book Sypnosis</p>
                <p>Using the dramatic scenario of an investigative journalist pursuing his story and leads, Lee Strobel uses his experience as a reporter for the Chicago Tribune to interview experts about the evidence for Christ from the fields of science,
                  philosophy, and history..</p>
              </div>
            </div>

            <div class="col s12 m6 l3">
              <img src="/static/images/quiet.jpg"></img>
              <div class="book-description">
                <p>Book Sypnosis</p>
                <p>At least one-third of the people we know are introverts. They are the ones who prefer listening to speaking; who innovate and create but dislike self-promotion; who favor working on their own over working in teams. It is to introverts—Rosa
                  Parks, Chopin, Dr. Seuss, Steve Wozniak—that we owe many of the great contributions to society.</p>
              </div>
            </div>

            <div class="col s12 m6 l3">
              <img src="/static/images/holeingospel.jpg"></img>
              <div class="book-description">
                <p>Book Sypnosis</p>
                <p>Is our faith just about going to church, studying the Bible and avoiding the most serious sins--or does God expect more? Have we embraced the whole gospel or a gospel with a hole in it? Ten years ago, Rich Stearns came face-to-face with
                  that question as he sat in a mud hut in Rakai, Uganda, listening to the heartbreaking story of an orphaned child.</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}