{% extends 'base.html'%} {% block content %}

<h1>Search Results</h1>
{% if search_books|length > 0 %}
<div class="row">
    {% for book in search_books %}
    <div class="container">
        <div class="col s12 m6 l3">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator cslewis" src="/static/images/cslewis.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">
                        <p>Title: {{book.title}}</p>
                        <p>Author: {{book.authors}}</p>
                        <i class="material-icons right">more_vert</i></span>
                    <p><a href="{{url_for('edit_book', book_id=book._id)}}">Edit</a></p>
                    <p><a href="{{url_for('delete_book', book_id=book._id)}}">Delete</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    <p>Rating: {{book.rating}}</p>
                    <p>Language: {{book.language_code}}</p>
                    <p>No. of Pages: {{book.num_pages}}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
        <div class="container no-result">
        <div class="row">
            <div class="col s12">
                <h3 class="white-text">Oops!</br> No results found!</h3>
            </div>
        </div>
    </div>
{% endif %} 
</div>

{% endblock %}